--
-- PostgreSQL database dump
--

\restrict t0X6tCAb9LhBRv4xQyU5hZddFqQYoUosJYhcgh33Naz2eT0Zfa0o7JIpoRkJm3h

-- Dumped from database version 18.4 (2773af8)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: resource_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.resource_type AS ENUM (
    'kin',
    'foster_home',
    'nonfamily'
);


ALTER TYPE public.resource_type OWNER TO neondb_owner;

--
-- Name: current_snapshot_date(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.current_snapshot_date() RETURNS date
    LANGUAGE sql STABLE
    AS $$
  select coalesce(
    (select max(snapshot_date) from data_loads where status = 'complete'),
    current_date
  );
$$;


ALTER FUNCTION public.current_snapshot_date() OWNER TO neondb_owner;

--
-- Name: touch_updated_at(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.touch_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
  new.updated_at := now();
  return new;
end $$;


ALTER FUNCTION public.touch_updated_at() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: age_bands; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.age_bands (
    id integer NOT NULL,
    label text NOT NULL,
    age_lo integer NOT NULL,
    age_hi integer NOT NULL,
    sort_order integer NOT NULL,
    CONSTRAINT age_bands_check CHECK ((age_hi >= age_lo))
);


ALTER TABLE public.age_bands OWNER TO neondb_owner;

--
-- Name: age_bands_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.age_bands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.age_bands_id_seq OWNER TO neondb_owner;

--
-- Name: age_bands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.age_bands_id_seq OWNED BY public.age_bands.id;


--
-- Name: children; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.children (
    id_child bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.children OWNER TO neondb_owner;

--
-- Name: counties; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.counties (
    id integer NOT NULL,
    name text NOT NULL,
    fips text
);


ALTER TABLE public.counties OWNER TO neondb_owner;

--
-- Name: counties_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.counties_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.counties_id_seq OWNER TO neondb_owner;

--
-- Name: counties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.counties_id_seq OWNED BY public.counties.id;


--
-- Name: data_loads; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.data_loads (
    id bigint NOT NULL,
    snapshot_date date NOT NULL,
    source text,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    finished_at timestamp with time zone,
    status text DEFAULT 'running'::text NOT NULL,
    row_counts jsonb DEFAULT '{}'::jsonb NOT NULL,
    discrepancies jsonb DEFAULT '[]'::jsonb NOT NULL,
    CONSTRAINT data_loads_status_check CHECK ((status = ANY (ARRAY['running'::text, 'complete'::text, 'failed'::text])))
);


ALTER TABLE public.data_loads OWNER TO neondb_owner;

--
-- Name: data_loads_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.data_loads_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_loads_id_seq OWNER TO neondb_owner;

--
-- Name: data_loads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.data_loads_id_seq OWNED BY public.data_loads.id;


--
-- Name: episodes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.episodes (
    id bigint NOT NULL,
    id_child bigint NOT NULL,
    episode_index integer DEFAULT 1 NOT NULL,
    removal_date date NOT NULL,
    discharge_date date,
    age_at_removal integer,
    age_at_observation integer,
    observed_as_of date,
    removal_county_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT episodes_age_at_removal_check CHECK (((age_at_removal >= 0) AND (age_at_removal <= 21))),
    CONSTRAINT episodes_check CHECK (((discharge_date IS NULL) OR (discharge_date >= removal_date)))
);


ALTER TABLE public.episodes OWNER TO neondb_owner;

--
-- Name: episodes_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.episodes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.episodes_id_seq OWNER TO neondb_owner;

--
-- Name: episodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.episodes_id_seq OWNED BY public.episodes.id;


--
-- Name: placements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.placements (
    id bigint NOT NULL,
    id_child bigint NOT NULL,
    episode_id bigint,
    placement_index integer NOT NULL,
    start_date date NOT NULL,
    end_date date,
    resource_type public.resource_type NOT NULL,
    id_provider bigint,
    removal_county_id integer,
    placement_county_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id_facility bigint,
    CONSTRAINT placements_check CHECK (((end_date IS NULL) OR (end_date >= start_date))),
    CONSTRAINT placements_provider_by_type CHECK ((((resource_type = 'foster_home'::public.resource_type) AND (id_provider IS NOT NULL) AND (id_facility IS NULL)) OR ((resource_type = 'nonfamily'::public.resource_type) AND (id_provider IS NULL)) OR ((resource_type = 'kin'::public.resource_type) AND (id_provider IS NULL) AND (id_facility IS NULL))))
);


ALTER TABLE public.placements OWNER TO neondb_owner;

--
-- Name: placements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.placements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.placements_id_seq OWNER TO neondb_owner;

--
-- Name: placements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.placements_id_seq OWNED BY public.placements.id;


--
-- Name: provider_age_preferences; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.provider_age_preferences (
    id bigint NOT NULL,
    id_provider bigint NOT NULL,
    min_age integer NOT NULL,
    max_age integer NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    CONSTRAINT provider_age_preferences_check CHECK ((max_age >= min_age)),
    CONSTRAINT provider_age_preferences_check1 CHECK (((effective_to IS NULL) OR (effective_to >= effective_from))),
    CONSTRAINT provider_age_preferences_max_age_check CHECK (((max_age >= 1) AND (max_age <= 18))),
    CONSTRAINT provider_age_preferences_min_age_check CHECK (((min_age >= 0) AND (min_age <= 17)))
);


ALTER TABLE public.provider_age_preferences OWNER TO neondb_owner;

--
-- Name: provider_age_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.provider_age_preferences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.provider_age_preferences_id_seq OWNER TO neondb_owner;

--
-- Name: provider_age_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.provider_age_preferences_id_seq OWNED BY public.provider_age_preferences.id;


--
-- Name: providers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.providers (
    id_provider bigint NOT NULL,
    license_start_date date,
    license_end_date date,
    county_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT providers_check CHECK (((license_end_date IS NULL) OR (license_start_date IS NULL) OR (license_end_date >= license_start_date)))
);


ALTER TABLE public.providers OWNER TO neondb_owner;

--
-- Name: stg_children; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.stg_children (
    load_id bigint,
    row_num integer,
    id_child text,
    removal_date text,
    discharge_date text,
    age_at_removal text,
    most_recent_age text,
    removal_county text
);


ALTER TABLE public.stg_children OWNER TO neondb_owner;

--
-- Name: stg_placements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.stg_placements (
    load_id bigint,
    row_num integer,
    id_child text,
    placement_start_date text,
    placement_end_date text,
    resource_type_on_this_placement text,
    placement_index text,
    removal_county text,
    placement_county text,
    id_provider text,
    placement_length text
);


ALTER TABLE public.stg_placements OWNER TO neondb_owner;

--
-- Name: stg_providers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.stg_providers (
    load_id bigint,
    row_num integer,
    id_provider text,
    license_start_date text,
    license_end_date text,
    county_provider text,
    n_days_licensed text,
    n_days_active text,
    min_age text,
    max_age text
);


ALTER TABLE public.stg_providers OWNER TO neondb_owner;

--
-- Name: v_children_enriched; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_children_enriched AS
 SELECT e.id AS episode_id,
    e.id_child,
    e.episode_index,
    e.removal_date,
    e.discharge_date,
    (e.discharge_date IS NULL) AS is_in_care,
    e.age_at_removal,
    ((e.removal_date - make_interval(years => e.age_at_removal)))::date AS dob_est,
    (COALESCE(e.discharge_date, public.current_snapshot_date()) - e.removal_date) AS days_in_care,
    (EXTRACT(year FROM age((COALESCE(e.discharge_date, public.current_snapshot_date()))::timestamp with time zone, (((e.removal_date - make_interval(years => e.age_at_removal)))::date)::timestamp with time zone)))::integer AS current_age,
    c.name AS removal_county,
    e.removal_county_id
   FROM (public.episodes e
     LEFT JOIN public.counties c ON ((c.id = e.removal_county_id)));


ALTER VIEW public.v_children_enriched OWNER TO neondb_owner;

--
-- Name: v_placements_enriched; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_placements_enriched AS
 SELECT p.id AS placement_id,
    p.id_child,
    p.episode_id,
    p.placement_index,
    p.start_date,
    p.end_date,
    (p.end_date IS NULL) AS is_ongoing,
    (COALESCE(p.end_date, public.current_snapshot_date()) - p.start_date) AS days_in_placement,
    p.resource_type,
    p.id_provider,
    rc.name AS removal_county,
    pc.name AS placement_county,
    p.removal_county_id,
    p.placement_county_id,
    ((p.removal_county_id IS NOT NULL) AND (p.placement_county_id IS NOT NULL) AND (p.removal_county_id <> p.placement_county_id)) AS is_out_of_county,
    (EXTRACT(year FROM age((p.start_date)::timestamp with time zone, (ce.dob_est)::timestamp with time zone)))::integer AS age_at_placement_start,
    ((p.end_date IS NOT NULL) AND ((p.end_date - p.start_date) < 30) AND ((ce.discharge_date IS NULL) OR (p.end_date < ce.discharge_date))) AS is_short_stay
   FROM (((public.placements p
     LEFT JOIN public.counties rc ON ((rc.id = p.removal_county_id)))
     LEFT JOIN public.counties pc ON ((pc.id = p.placement_county_id)))
     LEFT JOIN public.v_children_enriched ce ON ((ce.episode_id = p.episode_id)));


ALTER VIEW public.v_placements_enriched OWNER TO neondb_owner;

--
-- Name: v_provider_service_history; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_provider_service_history AS
 WITH pl AS (
         SELECT p.id_provider,
            count(*) AS n_placements,
            count(DISTINCT p.id_child) AS n_children_served,
            min(p.start_date) AS first_placement_date,
            max(p.start_date) AS last_placement_start,
            max(COALESCE(p.end_date, public.current_snapshot_date())) AS last_placement_end,
            count(*) FILTER (WHERE (p.end_date IS NULL)) AS n_open_placements,
            count(*) FILTER (WHERE p.is_short_stay) AS n_short_stays,
            sum(p.days_in_placement) AS total_placement_days,
            (avg(p.days_in_placement))::numeric(10,1) AS avg_placement_days
           FROM public.v_placements_enriched p
          WHERE (p.id_provider IS NOT NULL)
          GROUP BY p.id_provider
        ), active AS (
         SELECT days.id_provider,
            count(*) AS n_days_active_calc
           FROM ( SELECT DISTINCT p.id_provider,
                    (gs.gs)::date AS d
                   FROM (public.placements p
                     CROSS JOIN LATERAL generate_series((p.start_date)::timestamp with time zone, (COALESCE(p.end_date, public.current_snapshot_date()))::timestamp with time zone, '1 day'::interval) gs(gs))
                  WHERE (p.id_provider IS NOT NULL)) days
          GROUP BY days.id_provider
        )
 SELECT pr.id_provider,
    co.name AS county,
    pr.county_id,
    pr.license_start_date,
    pr.license_end_date,
    ((pr.license_end_date IS NULL) OR (pr.license_end_date > public.current_snapshot_date())) AS is_currently_licensed,
    (COALESCE(pr.license_end_date, public.current_snapshot_date()) - pr.license_start_date) AS days_licensed_calc,
    COALESCE(a.n_days_active_calc, (0)::bigint) AS days_active_calc,
    round(((COALESCE(a.n_days_active_calc, (0)::bigint))::numeric / (NULLIF((COALESCE(pr.license_end_date, public.current_snapshot_date()) - pr.license_start_date), 0))::numeric), 3) AS utilization_rate,
    COALESCE(pl.n_placements, (0)::bigint) AS n_placements,
    COALESCE(pl.n_children_served, (0)::bigint) AS n_children_served,
    COALESCE(pl.n_short_stays, (0)::bigint) AS n_short_stays,
    pl.avg_placement_days,
    pl.first_placement_date,
    (pl.first_placement_date - pr.license_start_date) AS days_to_first_placement,
    pl.last_placement_end,
    (COALESCE(pl.n_open_placements, (0)::bigint) > 0) AS has_child_now,
        CASE
            WHEN (COALESCE(pl.n_open_placements, (0)::bigint) > 0) THEN 0
            ELSE (public.current_snapshot_date() - pl.last_placement_end)
        END AS days_idle,
    ap.min_age AS current_min_age,
    ap.max_age AS current_max_age
   FROM ((((public.providers pr
     LEFT JOIN public.counties co ON ((co.id = pr.county_id)))
     LEFT JOIN pl ON ((pl.id_provider = pr.id_provider)))
     LEFT JOIN active a ON ((a.id_provider = pr.id_provider)))
     LEFT JOIN public.provider_age_preferences ap ON (((ap.id_provider = pr.id_provider) AND (ap.effective_to IS NULL))));


ALTER VIEW public.v_provider_service_history OWNER TO neondb_owner;

--
-- Name: v_age_capacity_gap; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_age_capacity_gap AS
 WITH demand AS (
         SELECT ce.removal_county_id AS county_id,
            b_1.id AS band_id,
            count(*) AS children_in_band
           FROM (public.v_children_enriched ce
             JOIN public.age_bands b_1 ON (((ce.current_age >= b_1.age_lo) AND (ce.current_age <= b_1.age_hi))))
          WHERE ce.is_in_care
          GROUP BY ce.removal_county_id, b_1.id
        ), supply AS (
         SELECT h.county_id,
            b_1.id AS band_id,
            count(*) AS homes_accepting_band,
            count(*) FILTER (WHERE (NOT h.has_child_now)) AS homes_available_now
           FROM (public.v_provider_service_history h
             JOIN public.age_bands b_1 ON (((h.current_min_age <= b_1.age_hi) AND (h.current_max_age >= b_1.age_lo))))
          WHERE h.is_currently_licensed
          GROUP BY h.county_id, b_1.id
        )
 SELECT c.name AS county,
    c.id AS county_id,
    b.label AS age_band,
    b.sort_order,
    COALESCE(d.children_in_band, (0)::bigint) AS children_in_band,
    COALESCE(s.homes_accepting_band, (0)::bigint) AS homes_accepting_band,
    COALESCE(s.homes_available_now, (0)::bigint) AS homes_available_now,
    round(((COALESCE(d.children_in_band, (0)::bigint))::numeric / (NULLIF(s.homes_accepting_band, 0))::numeric), 2) AS children_per_accepting_home,
    GREATEST((COALESCE(d.children_in_band, (0)::bigint) - COALESCE(s.homes_available_now, (0)::bigint)), (0)::bigint) AS unmet_need_estimate
   FROM (((public.counties c
     CROSS JOIN public.age_bands b)
     LEFT JOIN demand d ON (((d.county_id = c.id) AND (d.band_id = b.id))))
     LEFT JOIN supply s ON (((s.county_id = c.id) AND (s.band_id = b.id))));


ALTER VIEW public.v_age_capacity_gap OWNER TO neondb_owner;

--
-- Name: v_county_supply_demand; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_county_supply_demand AS
 WITH demand AS (
         SELECT ce.removal_county_id AS county_id,
            count(*) FILTER (WHERE ce.is_in_care) AS children_in_care,
            count(*) FILTER (WHERE (ce.removal_date >= (public.current_snapshot_date() - 365))) AS entries_last_12mo,
            count(*) FILTER (WHERE (ce.is_in_care AND (ce.current_age >= 13))) AS teens_in_care
           FROM public.v_children_enriched ce
          GROUP BY ce.removal_county_id
        ), supply AS (
         SELECT h.county_id,
            count(*) FILTER (WHERE h.is_currently_licensed) AS homes_licensed,
            count(*) FILTER (WHERE (h.is_currently_licensed AND h.has_child_now)) AS homes_with_child,
            count(*) FILTER (WHERE (h.is_currently_licensed AND (h.n_placements = 0))) AS homes_never_used,
            count(*) FILTER (WHERE (h.is_currently_licensed AND (h.current_max_age >= 13))) AS homes_accepting_teens,
            avg(h.utilization_rate) FILTER (WHERE h.is_currently_licensed) AS avg_utilization
           FROM public.v_provider_service_history h
          GROUP BY h.county_id
        ), flow AS (
         SELECT p.removal_county_id AS county_id,
            count(*) FILTER (WHERE p.is_ongoing) AS open_placements,
            count(*) FILTER (WHERE (p.is_ongoing AND p.is_out_of_county)) AS open_out_of_county,
            count(*) FILTER (WHERE (p.is_ongoing AND (p.resource_type = 'nonfamily'::public.resource_type))) AS open_nonfamily
           FROM public.v_placements_enriched p
          GROUP BY p.removal_county_id
        )
 SELECT c.id AS county_id,
    c.name AS county,
    COALESCE(d.children_in_care, (0)::bigint) AS children_in_care,
    COALESCE(d.entries_last_12mo, (0)::bigint) AS entries_last_12mo,
    COALESCE(d.teens_in_care, (0)::bigint) AS teens_in_care,
    COALESCE(s.homes_licensed, (0)::bigint) AS homes_licensed,
    COALESCE(s.homes_with_child, (0)::bigint) AS homes_with_child,
    COALESCE(s.homes_never_used, (0)::bigint) AS homes_never_used,
    COALESCE(s.homes_accepting_teens, (0)::bigint) AS homes_accepting_teens,
    round(s.avg_utilization, 3) AS avg_utilization,
    round(((COALESCE(d.children_in_care, (0)::bigint))::numeric / (NULLIF(s.homes_licensed, 0))::numeric), 2) AS children_per_licensed_home,
    round(((COALESCE(f.open_out_of_county, (0)::bigint))::numeric / (NULLIF(f.open_placements, 0))::numeric), 3) AS out_of_county_rate,
    round(((COALESCE(f.open_nonfamily, (0)::bigint))::numeric / (NULLIF(f.open_placements, 0))::numeric), 3) AS nonfamily_rate
   FROM (((public.counties c
     LEFT JOIN demand d ON ((d.county_id = c.id)))
     LEFT JOIN supply s ON ((s.county_id = c.id)))
     LEFT JOIN flow f ON ((f.county_id = c.id)));


ALTER VIEW public.v_county_supply_demand OWNER TO neondb_owner;

--
-- Name: v_dq_orphans; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_dq_orphans AS
 SELECT 'placement without episode'::text AS issue,
    (p.id)::text AS ref
   FROM public.placements p
  WHERE (p.episode_id IS NULL)
UNION ALL
 SELECT 'foster_home placement, unknown provider'::text AS issue,
    (p.id)::text AS ref
   FROM public.placements p
  WHERE ((p.resource_type = 'foster_home'::public.resource_type) AND (NOT (p.id_provider IN ( SELECT providers.id_provider
           FROM public.providers))))
UNION ALL
 SELECT 'placement county disagrees with episode removal county'::text AS issue,
    (p.id)::text AS ref
   FROM (public.placements p
     JOIN public.episodes e ON ((e.id = p.episode_id)))
  WHERE (p.removal_county_id IS DISTINCT FROM e.removal_county_id)
UNION ALL
 SELECT 'placement outside episode window'::text AS issue,
    (p.id)::text AS ref
   FROM (public.placements p
     JOIN public.episodes e ON ((e.id = p.episode_id)))
  WHERE ((p.start_date < e.removal_date) OR ((e.discharge_date IS NOT NULL) AND (p.start_date > e.discharge_date)));


ALTER VIEW public.v_dq_orphans OWNER TO neondb_owner;

--
-- Name: v_dq_placement_index_gaps; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_dq_placement_index_gaps AS
 SELECT id_child,
    count(*) AS n_placements,
    min(placement_index) AS min_index,
    max(placement_index) AS max_index
   FROM public.placements
  GROUP BY id_child
 HAVING ((min(placement_index) <> 1) OR (max(placement_index) <> count(*)));


ALTER VIEW public.v_dq_placement_index_gaps OWNER TO neondb_owner;

--
-- Name: v_dq_provider_derived_mismatch; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_dq_provider_derived_mismatch AS
 SELECT (s.id_provider)::bigint AS id_provider,
    (s.n_days_licensed)::integer AS source_days_licensed,
    h.days_licensed_calc AS calc_days_licensed,
    (s.n_days_active)::integer AS source_days_active,
    h.days_active_calc AS calc_days_active,
    abs(((s.n_days_licensed)::integer - h.days_licensed_calc)) AS licensed_delta,
    abs(((s.n_days_active)::integer - h.days_active_calc)) AS active_delta
   FROM (public.stg_providers s
     JOIN public.v_provider_service_history h ON ((h.id_provider = (s.id_provider)::bigint)))
  WHERE ((s.load_id = ( SELECT max(data_loads.id) AS max
           FROM public.data_loads
          WHERE (data_loads.status = 'complete'::text))) AND ((abs(((s.n_days_licensed)::integer - h.days_licensed_calc)) > 1) OR (abs(((s.n_days_active)::integer - h.days_active_calc)) > 1)));


ALTER VIEW public.v_dq_provider_derived_mismatch OWNER TO neondb_owner;

--
-- Name: v_license_expiry_pipeline; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_license_expiry_pipeline AS
 SELECT id_provider,
    county,
    license_end_date,
    (license_end_date - public.current_snapshot_date()) AS days_until_expiry,
        CASE
            WHEN ((license_end_date - public.current_snapshot_date()) <= 30) THEN '0-30 days'::text
            WHEN ((license_end_date - public.current_snapshot_date()) <= 60) THEN '31-60 days'::text
            WHEN ((license_end_date - public.current_snapshot_date()) <= 90) THEN '61-90 days'::text
            WHEN ((license_end_date - public.current_snapshot_date()) <= 180) THEN '91-180 days'::text
            ELSE '180+ days'::text
        END AS expiry_bucket,
    n_placements,
    utilization_rate,
    has_child_now
   FROM public.v_provider_service_history h
  WHERE (is_currently_licensed AND (license_end_date IS NOT NULL) AND (license_end_date <= (public.current_snapshot_date() + 180)));


ALTER VIEW public.v_license_expiry_pipeline OWNER TO neondb_owner;

--
-- Name: v_out_of_county_flow; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_out_of_county_flow AS
 SELECT rc.name AS removal_county,
    pc.name AS placement_county,
    p.removal_county_id,
    p.placement_county_id,
    count(*) AS n_placements,
    count(*) FILTER (WHERE p.is_ongoing) AS n_open,
    round(avg(p.days_in_placement), 1) AS avg_days,
    count(DISTINCT p.id_child) AS n_children
   FROM ((public.v_placements_enriched p
     JOIN public.counties rc ON ((rc.id = p.removal_county_id)))
     JOIN public.counties pc ON ((pc.id = p.placement_county_id)))
  GROUP BY rc.name, pc.name, p.removal_county_id, p.placement_county_id;


ALTER VIEW public.v_out_of_county_flow OWNER TO neondb_owner;

--
-- Name: v_placement_stability; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_placement_stability AS
 SELECT ce.id_child,
    ce.removal_county,
    ce.age_at_removal,
    ce.current_age,
    ce.is_in_care,
    ce.days_in_care,
    count(p.placement_id) AS n_placements,
    count(p.placement_id) FILTER (WHERE p.is_short_stay) AS n_short_stays,
    round((((count(p.placement_id))::numeric / (NULLIF(ce.days_in_care, 0))::numeric) * 365.25), 2) AS placements_per_year,
    min(p.start_date) AS first_placement,
    max(p.start_date) AS latest_placement
   FROM (public.v_children_enriched ce
     LEFT JOIN public.v_placements_enriched p ON ((p.episode_id = ce.episode_id)))
  GROUP BY ce.id_child, ce.removal_county, ce.age_at_removal, ce.current_age, ce.is_in_care, ce.days_in_care;


ALTER VIEW public.v_placement_stability OWNER TO neondb_owner;

--
-- Name: v_placement_type_mix; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_placement_type_mix AS
 SELECT COALESCE(rc.name, 'Unknown'::text) AS removal_county,
    b.label AS age_band,
    b.sort_order,
    (date_trunc('quarter'::text, (p.start_date)::timestamp with time zone))::date AS quarter,
    count(*) AS n_placements,
    count(*) FILTER (WHERE (p.resource_type = 'kin'::public.resource_type)) AS n_kin,
    count(*) FILTER (WHERE (p.resource_type = 'foster_home'::public.resource_type)) AS n_foster_home,
    count(*) FILTER (WHERE (p.resource_type = 'nonfamily'::public.resource_type)) AS n_nonfamily,
    round(((count(*) FILTER (WHERE (p.resource_type = 'kin'::public.resource_type)))::numeric / (NULLIF(count(*), 0))::numeric), 3) AS pct_kin,
    round(((count(*) FILTER (WHERE (p.resource_type = 'nonfamily'::public.resource_type)))::numeric / (NULLIF(count(*), 0))::numeric), 3) AS pct_nonfamily
   FROM ((public.v_placements_enriched p
     LEFT JOIN public.counties rc ON ((rc.id = p.removal_county_id)))
     JOIN public.age_bands b ON (((p.age_at_placement_start >= b.age_lo) AND (p.age_at_placement_start <= b.age_hi))))
  GROUP BY rc.name, b.label, b.sort_order, (date_trunc('quarter'::text, (p.start_date)::timestamp with time zone));


ALTER VIEW public.v_placement_type_mix OWNER TO neondb_owner;

--
-- Name: v_provider_at_risk; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_provider_at_risk AS
 WITH tenure_stats AS (
         SELECT width_bucket((v_provider_service_history.days_licensed_calc)::double precision, (0)::double precision, (3650)::double precision, 5) AS tenure_bucket,
            avg(v_provider_service_history.utilization_rate) AS band_avg_util
           FROM public.v_provider_service_history
          WHERE (v_provider_service_history.is_currently_licensed AND (v_provider_service_history.days_licensed_calc > 0))
          GROUP BY (width_bucket((v_provider_service_history.days_licensed_calc)::double precision, (0)::double precision, (3650)::double precision, 5))
        )
 SELECT h.id_provider,
    h.county,
    round(((h.days_licensed_calc)::numeric / 365.0), 1) AS tenure_years,
    h.n_placements,
    h.utilization_rate,
    round(((h.n_short_stays)::numeric / (NULLIF(h.n_placements, 0))::numeric), 3) AS disruption_rate,
    h.days_idle,
    h.has_child_now,
    round((((LEAST((40)::numeric, GREATEST((0)::numeric, ((COALESCE(t.band_avg_util, 0.5) - h.utilization_rate) * (80)::numeric))) + (LEAST((30)::numeric, (COALESCE(((h.n_short_stays)::numeric / (NULLIF(h.n_placements, 0))::numeric), (0)::numeric) * (30)::numeric)) *
        CASE
            WHEN (h.days_licensed_calc < 1825) THEN 1.0
            ELSE 0.4
        END)) + (GREATEST((0)::numeric, (((730 - h.days_licensed_calc))::numeric / 730.0)) * (15)::numeric)) + LEAST((15)::numeric, (((GREATEST(0, (h.days_idle - 90)))::numeric / 30.0) * (5)::numeric))), 1) AS risk_score
   FROM (public.v_provider_service_history h
     LEFT JOIN tenure_stats t ON ((t.tenure_bucket = width_bucket((h.days_licensed_calc)::double precision, (0)::double precision, (3650)::double precision, 5))))
  WHERE h.is_currently_licensed
  ORDER BY (round((((LEAST((40)::numeric, GREATEST((0)::numeric, ((COALESCE(t.band_avg_util, 0.5) - h.utilization_rate) * (80)::numeric))) + (LEAST((30)::numeric, (COALESCE(((h.n_short_stays)::numeric / (NULLIF(h.n_placements, 0))::numeric), (0)::numeric) * (30)::numeric)) *
        CASE
            WHEN (h.days_licensed_calc < 1825) THEN 1.0
            ELSE 0.4
        END)) + (GREATEST((0)::numeric, (((730 - h.days_licensed_calc))::numeric / 730.0)) * (15)::numeric)) + LEAST((15)::numeric, (((GREATEST(0, (h.days_idle - 90)))::numeric / 30.0) * (5)::numeric))), 1)) DESC;


ALTER VIEW public.v_provider_at_risk OWNER TO neondb_owner;

--
-- Name: v_provider_churn_monthly; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_provider_churn_monthly AS
 WITH months AS (
         SELECT (generate_series(date_trunc('month'::text, (( SELECT min(providers.license_start_date) AS min
                   FROM public.providers))::timestamp with time zone), date_trunc('month'::text, (public.current_snapshot_date())::timestamp with time zone), '1 mon'::interval))::date AS month
        ), grid AS (
         SELECT m.month,
            c.id AS county_id,
            c.name AS county
           FROM (months m
             CROSS JOIN public.counties c)
        )
 SELECT g.month,
    g.county,
    g.county_id,
    count(pr_in.id_provider) AS homes_licensed,
    count(pr_out.id_provider) AS homes_exited,
    (count(pr_in.id_provider) - count(pr_out.id_provider)) AS net_change,
    ( SELECT count(*) AS count
           FROM public.providers p2
          WHERE ((p2.county_id = g.county_id) AND (p2.license_start_date <= ((g.month + '1 mon -1 days'::interval))::date) AND ((p2.license_end_date IS NULL) OR (p2.license_end_date > ((g.month + '1 mon -1 days'::interval))::date)))) AS homes_active_eom
   FROM ((grid g
     LEFT JOIN public.providers pr_in ON (((pr_in.county_id = g.county_id) AND ((date_trunc('month'::text, (pr_in.license_start_date)::timestamp with time zone))::date = g.month))))
     LEFT JOIN public.providers pr_out ON (((pr_out.county_id = g.county_id) AND ((date_trunc('month'::text, (pr_out.license_end_date)::timestamp with time zone))::date = g.month) AND (pr_out.license_end_date <= public.current_snapshot_date()))))
  GROUP BY g.month, g.county, g.county_id;


ALTER VIEW public.v_provider_churn_monthly OWNER TO neondb_owner;

--
-- Name: v_provider_retention_cohorts; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_provider_retention_cohorts AS
 SELECT (date_trunc('quarter'::text, (license_start_date)::timestamp with time zone))::date AS cohort_quarter,
    (date_trunc('year'::text, (license_start_date)::timestamp with time zone))::date AS cohort_year,
    county,
    county_id,
    id_provider,
    license_start_date,
    license_end_date,
    days_licensed_calc AS tenure_days,
    round(((days_licensed_calc)::numeric / 30.44), 1) AS tenure_months,
    (NOT is_currently_licensed) AS is_event,
    is_currently_licensed AS is_censored,
    (n_placements > 0) AS ever_placed,
    utilization_rate,
    days_to_first_placement
   FROM public.v_provider_service_history h
  WHERE (license_start_date IS NOT NULL);


ALTER VIEW public.v_provider_retention_cohorts OWNER TO neondb_owner;

--
-- Name: v_provider_utilization; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_provider_utilization AS
 SELECT id_provider,
    county,
    county_id,
    license_start_date,
    license_end_date,
    is_currently_licensed,
    days_licensed_calc,
    days_active_calc,
    utilization_rate,
    n_placements,
    n_children_served,
    n_short_stays,
    avg_placement_days,
    first_placement_date,
    days_to_first_placement,
    last_placement_end,
    has_child_now,
    days_idle,
    current_min_age,
    current_max_age,
        CASE
            WHEN (n_placements = 0) THEN 'never used'::text
            WHEN (utilization_rate < 0.10) THEN 'very low (<10%)'::text
            WHEN (utilization_rate < 0.35) THEN 'low (10-35%)'::text
            WHEN (utilization_rate < 0.70) THEN 'moderate (35-70%)'::text
            WHEN (utilization_rate < 0.90) THEN 'high (70-90%)'::text
            ELSE 'saturated (90%+)'::text
        END AS utilization_band
   FROM public.v_provider_service_history h;


ALTER VIEW public.v_provider_utilization OWNER TO neondb_owner;

--
-- Name: v_recruitment_funnel; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_recruitment_funnel AS
 SELECT (date_trunc('year'::text, (license_start_date)::timestamp with time zone))::date AS cohort_year,
    county,
    count(*) AS homes_licensed,
    count(*) FILTER (WHERE (n_placements > 0)) AS homes_ever_placed,
    round(((count(*) FILTER (WHERE (n_placements > 0)))::numeric / (NULLIF(count(*), 0))::numeric), 3) AS first_placement_rate,
    round(avg(days_to_first_placement), 0) AS avg_days_to_first_placement,
    count(*) FILTER (WHERE (days_licensed_calc >= 365)) AS survived_12mo,
    count(*) FILTER (WHERE (days_licensed_calc >= 730)) AS survived_24mo,
    round(avg(utilization_rate), 3) AS avg_utilization,
    round(avg(n_children_served), 1) AS avg_children_served
   FROM public.v_provider_service_history h
  WHERE (license_start_date IS NOT NULL)
  GROUP BY (date_trunc('year'::text, (license_start_date)::timestamp with time zone)), county;


ALTER VIEW public.v_recruitment_funnel OWNER TO neondb_owner;

--
-- Name: age_bands id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.age_bands ALTER COLUMN id SET DEFAULT nextval('public.age_bands_id_seq'::regclass);


--
-- Name: counties id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.counties ALTER COLUMN id SET DEFAULT nextval('public.counties_id_seq'::regclass);


--
-- Name: data_loads id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.data_loads ALTER COLUMN id SET DEFAULT nextval('public.data_loads_id_seq'::regclass);


--
-- Name: episodes id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.episodes ALTER COLUMN id SET DEFAULT nextval('public.episodes_id_seq'::regclass);


--
-- Name: placements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements ALTER COLUMN id SET DEFAULT nextval('public.placements_id_seq'::regclass);


--
-- Name: provider_age_preferences id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provider_age_preferences ALTER COLUMN id SET DEFAULT nextval('public.provider_age_preferences_id_seq'::regclass);


--
-- Name: age_bands age_bands_label_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.age_bands
    ADD CONSTRAINT age_bands_label_key UNIQUE (label);


--
-- Name: age_bands age_bands_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.age_bands
    ADD CONSTRAINT age_bands_pkey PRIMARY KEY (id);


--
-- Name: children children_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.children
    ADD CONSTRAINT children_pkey PRIMARY KEY (id_child);


--
-- Name: counties counties_fips_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.counties
    ADD CONSTRAINT counties_fips_key UNIQUE (fips);


--
-- Name: counties counties_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.counties
    ADD CONSTRAINT counties_name_key UNIQUE (name);


--
-- Name: counties counties_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.counties
    ADD CONSTRAINT counties_pkey PRIMARY KEY (id);


--
-- Name: data_loads data_loads_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.data_loads
    ADD CONSTRAINT data_loads_pkey PRIMARY KEY (id);


--
-- Name: episodes episodes_id_child_episode_index_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_id_child_episode_index_key UNIQUE (id_child, episode_index);


--
-- Name: episodes episodes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_pkey PRIMARY KEY (id);


--
-- Name: placements placements_id_child_placement_index_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_id_child_placement_index_key UNIQUE (id_child, placement_index);


--
-- Name: placements placements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_pkey PRIMARY KEY (id);


--
-- Name: provider_age_preferences provider_age_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provider_age_preferences
    ADD CONSTRAINT provider_age_preferences_pkey PRIMARY KEY (id);


--
-- Name: provider_age_preferences provider_pref_no_overlap; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provider_age_preferences
    ADD CONSTRAINT provider_pref_no_overlap EXCLUDE USING gist (id_provider WITH =, daterange(effective_from, effective_to, '[]'::text) WITH &&);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id_provider);


--
-- Name: data_loads_snapshot_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX data_loads_snapshot_idx ON public.data_loads USING btree (snapshot_date DESC);


--
-- Name: episodes_child_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX episodes_child_idx ON public.episodes USING btree (id_child);


--
-- Name: episodes_county_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX episodes_county_idx ON public.episodes USING btree (removal_county_id);


--
-- Name: episodes_open_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX episodes_open_idx ON public.episodes USING btree (discharge_date) WHERE (discharge_date IS NULL);


--
-- Name: episodes_removal_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX episodes_removal_idx ON public.episodes USING btree (removal_date);


--
-- Name: placements_child_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_child_idx ON public.placements USING btree (id_child, placement_index);


--
-- Name: placements_dates_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_dates_idx ON public.placements USING btree (start_date, end_date);


--
-- Name: placements_facility_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_facility_idx ON public.placements USING btree (id_facility) WHERE (id_facility IS NOT NULL);


--
-- Name: placements_open_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_open_idx ON public.placements USING btree (id_provider) WHERE (end_date IS NULL);


--
-- Name: placements_pcounty_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_pcounty_idx ON public.placements USING btree (placement_county_id);


--
-- Name: placements_provider_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_provider_idx ON public.placements USING btree (id_provider);


--
-- Name: placements_type_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX placements_type_idx ON public.placements USING btree (resource_type);


--
-- Name: provider_pref_current_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX provider_pref_current_idx ON public.provider_age_preferences USING btree (id_provider) WHERE (effective_to IS NULL);


--
-- Name: providers_county_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX providers_county_idx ON public.providers USING btree (county_id);


--
-- Name: providers_license_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX providers_license_idx ON public.providers USING btree (license_start_date, license_end_date);


--
-- Name: children children_touch; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER children_touch BEFORE UPDATE ON public.children FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();


--
-- Name: episodes episodes_touch; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER episodes_touch BEFORE UPDATE ON public.episodes FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();


--
-- Name: placements placements_touch; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER placements_touch BEFORE UPDATE ON public.placements FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();


--
-- Name: providers providers_touch; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER providers_touch BEFORE UPDATE ON public.providers FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();


--
-- Name: episodes episodes_id_child_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_id_child_fkey FOREIGN KEY (id_child) REFERENCES public.children(id_child) ON DELETE CASCADE;


--
-- Name: episodes episodes_removal_county_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_removal_county_id_fkey FOREIGN KEY (removal_county_id) REFERENCES public.counties(id);


--
-- Name: placements placements_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON DELETE SET NULL;


--
-- Name: placements placements_id_child_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_id_child_fkey FOREIGN KEY (id_child) REFERENCES public.children(id_child) ON DELETE CASCADE;


--
-- Name: placements placements_id_provider_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_id_provider_fkey FOREIGN KEY (id_provider) REFERENCES public.providers(id_provider);


--
-- Name: placements placements_placement_county_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_placement_county_id_fkey FOREIGN KEY (placement_county_id) REFERENCES public.counties(id);


--
-- Name: placements placements_removal_county_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.placements
    ADD CONSTRAINT placements_removal_county_id_fkey FOREIGN KEY (removal_county_id) REFERENCES public.counties(id);


--
-- Name: provider_age_preferences provider_age_preferences_id_provider_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.provider_age_preferences
    ADD CONSTRAINT provider_age_preferences_id_provider_fkey FOREIGN KEY (id_provider) REFERENCES public.providers(id_provider) ON DELETE CASCADE;


--
-- Name: providers providers_county_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_county_id_fkey FOREIGN KEY (county_id) REFERENCES public.counties(id);


--
-- Name: stg_children stg_children_load_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.stg_children
    ADD CONSTRAINT stg_children_load_id_fkey FOREIGN KEY (load_id) REFERENCES public.data_loads(id) ON DELETE CASCADE;


--
-- Name: stg_placements stg_placements_load_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.stg_placements
    ADD CONSTRAINT stg_placements_load_id_fkey FOREIGN KEY (load_id) REFERENCES public.data_loads(id) ON DELETE CASCADE;


--
-- Name: stg_providers stg_providers_load_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.stg_providers
    ADD CONSTRAINT stg_providers_load_id_fkey FOREIGN KEY (load_id) REFERENCES public.data_loads(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict t0X6tCAb9LhBRv4xQyU5hZddFqQYoUosJYhcgh33Naz2eT0Zfa0o7JIpoRkJm3h

